*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: 'Rubik', sans-serif;
    background-color: #000;
    background-image: url(img/grama1.jpg);

    background-position: center;
    background-size: cover;
}
a
{
    text-decoration: none;
    display: block;
}
ul, li
{
    list-style: none;
}
/*MAIN--------------------------*/
.menu
{
    display: none;
}
header h1
{
    color: #fff;
    text-align: center;
    font-size: 70px;
    margin-top: 2rem;
}
header span
{
    color: rgb(33, 124, 33);
}
header .aside1
{
    height: 100vh;
    width: 50px;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    z-index: 999;
    background-color: rgb(138, 190, 138);
}
header .aside1 i
{
    font-size: 35px;
    margin: 1rem 0;
    color: green;
}
header .aside1 i:hover
{
    color: rgb(5, 70, 5);
}

main .controls
{
    position: absolute;
    width: 83vw;
    margin: 0 10vw;
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
}
main i
{
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
main .all-icons
{
    width: 70vw;
    height: 300px;
    margin: auto;
    margin-top: 2rem;
    overflow: hidden;

    /*border: 1px solid rgb(255, 200, 200);*/
}
main .all-icons .icons
{
    height: 100%;
    width: 1000vw;
    display: flex;
    transition: all ease 0.5s;
}
main .all-icons .icons .icon
{
    width: 250px;
    height: auto;
    background-color: rgba(216, 216, 216, 0.664);
    border-radius: 10px;
    margin: 0.5rem 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center
}
main .all-icons .icons .icon .animalphoto
{
    height: 50%;
    width: 90%;
    margin: 0.8rem 0;
    border-radius: 10px;

    background-position: center;
    background-size: cover;

}
main .all-icons .icons .icon .description
{
    text-align: center;
}
main .all-icons .icons .icon .button
{
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid #000000;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1.5rem;
}
main .all-icons .icons .icon .button:hover
{
    background-color: rgba(31, 104, 46, 0.644);
    color: #fff;
    transition: all ease 0.5s;
}


/*RESPONSIVIDADE  --------------------------*/

@media (max-width: 700px)
{
    body
    {
        background-size: auto;
    }
    header .aside1
    {
        display: none;
    }
    .aside2
    {
        top: 0;
        right: -45vw;
        display: flex;
        position: fixed;
        transition: all ease 0.5s;
    }
    .aside2 .menuopener
    {
        height: 37px;
        width: 37px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-right: 1rem;
        margin-top: 0.5rem;
    }
    .aside2 .menuopener .trace
    {
        width: auto;
        height: 9px;
        background-color: rgb(202, 248, 95);
    }
    .aside2 .menu
    {
        width: 45vw;
        height: 100vh;
        background-color: rgb(174, 199, 193);
        border-radius: 15px 0 0 15px;

        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .aside2 .menu a
    {
        color: #000;
        font-weight: 800;
        margin: 1.5rem 0;
        text-transform: uppercase;
    }
    .aside2 .menu a:hover
    {
        color: green;
    }
    
}

@media (max-width:500px)
{
    header h1 
    {
        margin-top: 3rem;
    }
    main .all-icons
    {
        height: 400px;
    }
    main .all-icons .icons .icon
    {
        width: 250px;
    }
}